@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

html {
  box-sizing: content-box;
}

body {
  font-family: 'Jost', sans-serif;
  font-size:18px;
  color:#374151;
}

@media screen and (max-width: 768px) {
  body {
    width:100%;
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
    font-size:12;
  }
  #navbar{
    min-width:250px;
    width:100%;
    margin:0;
    padding:0;
  }

  #main-doc{
    margin-right:10px;
  }

  pre {
    overflow-x:scroll;
  }

  header {
  color:#0284c7;
  font-size:20px;
}

ul li{
  text-indent:5%;
}
}

@media screen and (min-width:769px){
    body {
    display:flex;
    flex-direction: row;
    width:100%;
    overflow:hidden;
    margin:0 1px;
  }

  #main-doc {
  width:90vw;
  overflow-y:auto;
  overflow-x:hidden;
  padding:0 10px;
}

#navbar {
  min-width:250px;
  /* width:30%; */
  height:100vh;
  padding-right:50px;
}

header {
  color:#0284c7;
  font-size:25px;
}

ul li{
  text-indent:10%;
}
}





ul {
  width:100%;
}

ul > li {
  list-style:none;
  margin-top:10px;
  border-bottom:2px solid grey;
}

li > a {
  color:#000;
  text-decoration:none;
  font-size:1.2em;
}

ul li:hover{
  background-color:#bae6fd;
  border:none;
}

li > a:hover {
  border:none;
}

li > a:visited {
  color:#000;
}




ul li:first-of-type, ul li:nth-child(6) {
  text-transform:uppercase;
  font-weight:bold;
  background-color:#0ea5e9;
  color:white !important;
  border-bottom:4px solid grey;
  margin-top:0.5em;
  text-indent:0 !important;
}

ul li:first-of-type a, ul li:nth-child(6) a {
  color:white;
}

section:first-of-type header, section:nth-child(6) header{
  font-weight:bold;
  font-size:30px;
}